<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>View-Editor</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navigation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active"
           href="/home-Editor">Home-Editor
          <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/assignReviewer-Editor">Assign Reviewer-Editor</a>
        <a class="nav-item nav-link" href="/approveReject-Editor">Approve/Reject
          -Editor</a>
        <a class="nav-item nav-link" href="/view-Editor">View-Editor</a>
      </div>
    </div>
  </nav>
</header>

<br><br>
<h3> All Articles: </h3>
<br>



<table style="width:100%">

  <thead>
  <th>Name</th>
  <th>Submitted By</th>
  <th>Status</th>
  <th>Article</th>
  </thead>
  <tr th:each="article:${articles}">
    <td> <span th:text="${article.name}"> </span> </td>
    <td> <span th:text="${article.submitter.username}"> </span> </td>
    <td> <span th:text="${article.status}"> </span> </td>
    <td> <span th:text="${article.content}"> </span> </td>
  </tr>
</table>
</body>
</html>


</body>
</html>



