<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>pproval.app | Home</title>
  <link rel="stylesheet" href="/vendor/css/semantic.min.css">
</head>
<body>
<div class="ui container">
<div class="ui text menu">
  <div class="item">
    <img src="/images/logo@2x.svg">
  </div>
  <a class="browse item">
    Pproval
  </a>
  {{>includes/header/user}}
</div>
